.main-layout {
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    row-gap: 20px;
}

.main-layout > * {
    grid-column: 2;
}

.main-layout .full {
    grid-column: 1/-1;
}

.container {
    max-width: 800px;
    padding: 1em;
    margin: auto;
}
