header {
    margin-block-end: 1em;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

    color: var(--clr1);
}

.header-container h1 {
    grid-column: 1;
}

nav {
    display: flex;
    gap: 15px;
}

a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: none;
}

@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}
