.bug-filter {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 10px;
    
    padding: 1em;
    border-radius: 3em;
    background-image: var(--clr2bgi);
    color: var(--clr2);
}

.bug-filter input,select {
    padding: .5em;
    border: 0;
    border-radius: 3em;
}

