.bug-list {
    padding: 0;
    list-style: none;
    display: grid;
    align-items: center;
    gap: 15px;

    height: 45vh;
    overflow-y: scroll;
}

.bug-list li {
    padding-inline-start: 2em;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    background-image: var(--clr2bgi);
    color: var(--clr2);
}

::-webkit-scrollbar {
    border-radius: 3em;
}

::-webkit-scrollbar-track {
    background-image: var(--clr2bgi);
}

::-webkit-scrollbar-thumb {
    background: rgb(55, 71, 77);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #679fcf;
}

@media (width <= 600px) {
    .bug-list {
        padding: 0;
        height: 35vh;
        overflow-y: scroll;
    }
    .bug-list li {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
        gap: 10px;

        padding: 0.75em;
    }
}
