:root {
    --clr1: rgba(255, 255, 255, 0.831);
    --clr2: rgb(120, 99, 110);

    --clr1bg: rgb(197, 203, 196);
    --clr1bg-light: rgb(205, 221, 200);
    --clr2bg: rgb(88, 88, 88);
    --clr2bg-light: rgb(253, 236, 246);

    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);

    --clr2bgi: linear-gradient(-86deg, #49989c 0, #baecf9 100%);
}
